<!DOCTYPE html>
<html>

<head>
  <title>liste-de-presence</title>
  <meta charset="UTF-8">
  


</head>

<body>
  
  <h1>liste de presence</h1>
  <table>
    <tr>
      <th>Non</th>
      <th>Prénom</th>
      <th>Date</th>
      <th>H D'arriver</th>
      <th>H Départ</th>
      <th>Contact</th>
    </tr>
    <tr class="paire">
      
      <td>Oumar</td>
      
      <td>Dicko</td>
      
      <td>11/09/2021</td>
      
      <td>08H4O</td>
      
      <td>17H10</td>

      <td>76342133</td>
      
    </tr>
    
    <tr class="paire">
      
      <td>Saoudatou</td>
      
      <td>Diarra</td>
      
      <td>11/09/2021</td>
      
      <td>08H49</td>
      
      <td></td>
      <td></td>
      
    </tr>
    
    <tr class="impaire">
      
    
    
          <td>Racine</td>
          
      <td>Diallo</td>
      
      <td></td>
      
      <td></td>
      
      <td></td>
      <td></td>
    </tr>
    
    
  </table>
  
  
  </body>

</html>
