<form >
    <div class="container">
      <h1>modification donnees utilisateur</h1>
      

      <label for="Nom"><b>Nom</b></label>
      <input type="text" placeholder="Enter Nom" name="Nom" id="Nom" required>
  
      
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="Enter mot de passe" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeter Mot de passe</b></label>
      <input type="password" placeholder="Repeter Mot de passe" name="psw-repeat" id="psw-repeat" required>
      
  
      
      <button type="submit" class="registerbtn">Valider</button>
    </div>
  
    
  </form>

