<!DOCTYPE html>
<html>

<head>
  <title>Les bases en css</title>
  <meta charset="UTF-8">
  


</head>

<body>
  
  <h1>liste de presence</h1>
  <table>
    <tr>
      <th>Non</th>
      <th>Prénom</th>
      <th>E-mail</th>
      <th>Heure de Connexion</th>
      <th>Heure de deconnexion</th>
      <th>Date</th>
    </tr>
    <tr class="paire">
      
      <td></td>
      
      <td></td>
      
      <td></td>
      
      <td></td>
      
      <td></td>

      <td></td>
      
    </tr>
    
    <tr class="paire">
      
      <td></td>
      
      <td></td>
      
      <td></td>
      
      <td></td>
      
      <td></td>
      <td></td>
      
    </tr>
    
    <tr class="impaire">
      
    
    
          <td></td>
          
      <td></td>
      
      <td></td>
      
      <td></td>
      
      <td></td>
      <td></td>
    </tr>
    
    
  </table>
  
  
  </body>

</html>

